<style type="text/css">
	  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
   
</style>

 <footer class="page-footer blue-grey darken-2">
          <div class="footer-copyright">
            <div class="container">
           		 © 2019 Copyright Text
            <a class="grey-text text-lighten-4 right" href="/">More Links</a>
            </div>
          </div>
 </footer>