<style>
  .footer-links{
    text-decoration: none;
  }
</style>
 
 
  <footer>
    <div class="py-5 container ">
      <div class="container py-3 ">
        <div class="row ">
          <div class="offset-md-1 col-md-4 ">
            <h5 class="font-weight-bold mb-3 ">CONNECTIFY</h5>
            <ul class="col link-subgroup">
              <li class="footer-links"><a  href="/">About us</a></li>
              <li><a class="footer-links" href="/">Contact us</a></li>
              <li><a class="footer-links" href="/"></a></li>
            </ul>
          </div>
          <div class="col-md-4 ">
            <h5 class="font-weight-bold mb-3 ">Developers</h5>
             <ul class="col link-subgroup">
              <li class="footer-links"><a>Github</a></li>
              <li><a class="footer-links">Open Source</a></li>
              <li><a class="footer-links">Collaborations</a></li>
            </ul>
          </div>
          <div class="col-md-2 ">
            <h5 class="font-weight-bold mb-3 ">CONTRIBUTE</h5>
            <div class="social-media d-flex">
             <ul class="col link-subgroup">
              <li class="footer-links"><a>File a Bug</a></li>
              <li><a class="footer-links">Code of Conduct</a></li>
              <li><a class="footer-links">Partners</a></li>
            </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_end py-4 ">
      <h6 class="text-center ">Copyright
        <script type="text/javascript">
          document.write(new Date().getFullYear());
        </script>. All rights reserved</h6>
    </div>
  </footer>