
<div class="container">
	<div class="media">
	  <img src="/images/connectify.png" class="mr-3" width="40%" height="40%" alt="Connectify logo image">
	  <div class="media-body">
	    <h5 class="mt-0">Connectify </h5>
	    A web tool that helps you find your groups and channels that would interest you on your favourite social media platform
	  </div>
	</div>
</div>