
<div class="container">
	<div class="media">
	  <img src="/images/microsoft.svg" class="mr-3" alt="...">
	  <div class="media-body">
	    <h5 class="mt-0">Media heading</h5>
	    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
	  </div>
	</div>

    <div class="media">
	  <div class="media-body">
	    <h5 class="mt-0 mb-1">Media object</h5>
	    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
	  </div>
	  <img src="/images/microsoft.svg" class="ml-3" alt="...">
	</div>
</div>