<div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Profile</a>
      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Add Groups</a>
      <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
      <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
           <h1>NEW GROUPS</h1>
      </div>
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <h1>ADD GROUP</h1>
     </div>
      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <h1>MESSAGES</h1>
                            <div class="container">
                   <div class="row">
                      <div class="col-lg-12">
                        <div class="table-responsive">
                          <table cellpadding="10" cellspacing="20" >
                            <tr>
                              <td scope="row" style="padding-left: 90px;"><b>Job Position</b></th>
                              <td scope="row"><b>Date</b></th>
                            </tr>
                          <tbody>
                            <tr>
                              <td> Sort By &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <select name="" id="" class="form-control">
                                  <option value="">All</option>
                                </select>
                              </td>
                              <td><input type="text" class="form-control" value="Mon, 9 April 2019"></td>
                            </tr>
                          </tbody>
                          </table>
                        </div>
                      </div>
                   </div>
                 </div>
            <div class="management table-responsive">
                 <div class="container">
                   <div class="row">
                     <div class="col-lg-12">
                       <table class="table table-hover">
                        <tr id="no-border">
                          <th>Advert Header</th>
                          <th>Category</th>
                          <th>Date Added</th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                        <tr>
                          <td scope="col" >Lorem Ipsum</td>
                          <td scope="col">Sunday March 11 2019</td>
                          <td scope="col"><a href="" class="btn btn-outline-primary">VIEW</a></td>
                          <td scope="col"><a href="" class="btn btn-primary">EDIT</a></td>
                          <td scope="col"><a href="" class="btn btn-outline-danger">DELETE</a></td>
                        </tr>
                        <tr>
                          <td scope="col" >Lorem Ipsum</td>
                          <td scope="col">Sunday March 11 2019</td>
                          <td scope="col"><a href="" class="btn btn-outline-primary">VIEW</a></td>
                          <td scope="col"><a href="" class="btn btn-primary">EDIT</a></td>
                          <td scope="col"><a href="" class="btn btn-outline-danger">DELETE</a></td>
                        </tr>
                        <tr>
                          <td scope="col" >Lorem Ipsum</td>
                          <td scope="col">Sunday March 11 2019</td>
                          <td scope="col"><a href="" class="btn btn-outline-primary">VIEW</a></td>
                          <td scope="col"><a href="" class="btn btn-primary">EDIT</a></td>
                          <td scope="col"><a href="" class="btn btn-outline-danger">DELETE</a></td>
                        </tr>
                        <tr>
                          <td scope="col" >Lorem Ipsum</td>
                          <td scope="col">Sunday March 11 2019</td>
                          <td scope="col"><a href="" class="btn btn-outline-primary">VIEW</a></td>
                          <td scope="col"><a href="" class="btn btn-primary">EDIT</a></td>
                          <td scope="col"><a href="" class="btn btn-outline-danger">DELETE</a></td>
                        </tr>
                      </thead>
                     </table>
                     </div>
                   </div>
                 </div>
               </div>

     </div>
      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            <h1>SETTINGS</h1>
      </div>
    </div>
  </div>
</div>

