
<br><br><br><br><br>
<div class="container">
    <h1>ERROR, PAGE NOT FOUND </h1>
    <span>Let the wizard take you home <a href="/">here</a>.</span>
    <div>
    	<p><img src="/images/brands/Discord.svg" alt="image no display" width="50px" height="50px"></p>
    	<p><img src="/images/brands/Facebook-messenger.svg" alt="image no display" width="50px" height="50px"></p>
    	<p><img src="/images/brands/Facebook.svg " alt="image no display" width="50px" height="50px"></p>
    	<p><img src="/images/brands/Gitter.svg " alt="image no display" width="50px" height="50px"></p>
    	<p><img src="/images/brands/Google-groups.svg " alt="image no display" width="50px" height="50px"></p>
    	<p><img src="/images/brands/Imgur.svg " alt="image no display" width="50px" height="50px"></p>
    	<p><img src="/images/brands/Instagram.svg " alt="image no display" width="50px" height="50px"></p>
    	<p><img src="/images/brands/Nairaland.svg " alt="image no display" width="50px" height="50px"></p>
    	<p><img src="/images/brands/Quora.svg " alt="image no display" width="50px" height="50px"></p>
    	<p><img src="/images/brands/Skype.svg " alt="image no display" width="50px" height="50px"></p>
    	<p><img src="/images/brands/Spectrum.svg " alt="image no display" width="50px" height="50px"></p>
    	<p><img src="/images/brands/Telegram.svg " alt="image no display" width="50px" height="50px"></p>
    	<p><img src="/images/brands/Twitch.svg " alt="image no display" width="50px" height="50px"></p>
    	<p><img src="/images/brands/Twitter.svg " alt="image no display" width="50px" height="50px"></p>
    	<p><img src="/images/brands/Whatsapp.svg " alt="image no display" width="50px" height="50px"></p>
    	<p><img src="/images/brands/Youtube.svg " alt="image no display" width="50px" height="50px"></p>
    </div>
</div>


